# Prometheus Service
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: freshness
  labels:
    app: prometheus
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
  - name: web
    port: 9090
    targetPort: 9090
    nodePort: 30900  # Access Prometheus at <node-ip>:30900
    protocol: TCP
